@page
@model Old_Glory_Flag_Company.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
              <div class="search"></div>
 <form>
 <input type="text" name="search" placeholder="Enter Text" id="myInput" onkeyup="myFunction()"/>
              <input type="submit" value="Search"/>
              </form>
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<ul id="myInput">
  <li><a href="../Pages../Pages/Products/">Flags</a></li>
  
</ul>

 <table id=myInput>           
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myInput">
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
  <script>
            $(document).ready(function() {
                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myInput tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
